parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Controller\\CallController\:\:applyRequest\(\) has parameter \$resultInput with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Controller/CallController.php

		-
			message: '#^Method App\\Controller\\CallController\:\:formContext\(\) has parameter \$errors with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Controller/CallController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Repository\\OrganizationRepository\:\:findAccessibleIds\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/CallController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Repository\\OrganizationRepository\:\:findAccessibleOrganizations\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 2
			path: src/Controller/CallController.php

		-
			message: '#^Parameter \#2 \$resultInput of method App\\Controller\\CallController\:\:hasResultActions\(\) expects array\{mailingCampaignId\: int\|null, mailingContactId\: int\|null, nextCallDate\: string\}, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/CallController.php

		-
			message: '#^Parameter \#2 \$resultInput of method App\\Controller\\CallController\:\:validateResultCommands\(\) expects array\{mailingCampaignId\: int\|null, mailingContactId\: int\|null, nextCallDate\: string\}, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/CallController.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Controller/CallController.php

		-
			message: '#^Method App\\Controller\\CampaignController\:\:assertCsrfToken\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Controller/CampaignController.php

		-
			message: '#^Method App\\Controller\\CampaignController\:\:availableOrganizations\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Controller/CampaignController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Repository\\OrganizationRepository\:\:findAccessibleIds\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 2
			path: src/Controller/CampaignController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Repository\\OrganizationRepository\:\:findAccessibleOrganizations\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/CampaignController.php

		-
			message: '#^Parameter \#3 \$user of method App\\Service\\CampaignRecipientService\:\:bulkAddByGroup\(\) expects App\\Entity\\User, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/CampaignController.php

		-
			message: '#^Property App\\Controller\\CampaignController\:\:\$campaignRecipients is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Controller/CampaignController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Repository\\OrganizationRepository\:\:findAccessibleIds\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/ContactController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Repository\\OrganizationRepository\:\:findAccessibleOrganizations\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 2
			path: src/Controller/ContactController.php

		-
			message: '#^Instanceof between array and Traversable will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: src/Controller/GroupController.php

		-
			message: '#^Method Doctrine\\Persistence\\ObjectManager\:\:clear\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Controller/GroupController.php

		-
			message: '#^Parameter \#1 \$createdBy of method App\\Entity\\OrganizationGroup\:\:setCreatedBy\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/GroupController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Repository\\OrganizationRepository\:\:findAccessibleIds\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 2
			path: src/Controller/GroupController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Repository\\OrganizationRepository\:\:findAccessibleOrganizations\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/GroupController.php

		-
			message: '#^Using nullsafe property access "\?\-\>email" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Controller/GroupController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Repository\\OrganizationRepository\:\:findAccessibleIds\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/HomeController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Repository\\OrganizationRepository\:\:findAccessibleIds\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/HomeController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Repository\\OrganizationRepository\:\:findAccessibleOrganizations\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/HomeController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Repository\\OrganizationRepository\:\:findForDashboard\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/HomeController.php

		-
			message: '#^Method App\\Controller\\OrganizationController\:\:updateGroupMemberships\(\) has parameter \$selectedGroupIds with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Controller/OrganizationController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Controller\\OrganizationController\:\:availableGroupsFor\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 4
			path: src/Controller/OrganizationController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Repository\\OrganizationRepository\:\:findAccessibleIds\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/OrganizationController.php

		-
			message: '#^Parameter \#2 \$user of method App\\Controller\\OrganizationController\:\:normalizeGroupSelection\(\) expects App\\Entity\\User\|null, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: argument.type
			count: 2
			path: src/Controller/OrganizationController.php

		-
			message: '#^Property App\\Entity\\Campaign\:\:\$attachments with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/Campaign.php

		-
			message: '#^Property App\\Entity\\Campaign\:\:\$recipients with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/Campaign.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Entity/Campaign.php

		-
			message: '#^Property App\\Entity\\Organization\:\:\$contacts with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/Organization.php

		-
			message: '#^Property App\\Entity\\Organization\:\:\$groupMemberships with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/Organization.php

		-
			message: '#^Property App\\Entity\\OrganizationGroup\:\:\$assignments with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/OrganizationGroup.php

		-
			message: '#^Property App\\Entity\\OrganizationGroup\:\:\$memberships with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/OrganizationGroup.php

		-
			message: '#^Method App\\Entity\\User\:\:getUserIdentifier\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Property App\\Entity\\User\:\:\$groupAssignments with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Method App\\Repository\\OrganizationGroupRepository\:\:findAllGroups\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/OrganizationGroupRepository.php

		-
			message: '#^Method App\\Repository\\OrganizationGroupRepository\:\:findCreatedBy\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/OrganizationGroupRepository.php

		-
			message: '#^Method App\\Repository\\OrganizationGroupRepository\:\:findForManager\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/OrganizationGroupRepository.php

		-
			message: '#^Method App\\Repository\\OrganizationRepository\:\:nameCompare\(\) has parameter \$a with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/OrganizationRepository.php

		-
			message: '#^Method App\\Repository\\OrganizationRepository\:\:nameCompare\(\) has parameter \$b with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/OrganizationRepository.php

		-
			message: '#^Method App\\Repository\\OrganizationRepository\:\:sortRows\(\) has parameter \$rows with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/OrganizationRepository.php

		-
			message: '#^Offset ''lastCallContactId'' on array\{0\: App\\Entity\\Organization, lastMadeAt\?\: string\|null, nextScheduledAt\?\: string\|null, lastCallNote\?\: string\|null, lastCallDate\?\: string\|null\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: src/Repository/OrganizationRepository.php

		-
			message: '#^Parameter \#1 \$array \(list\<App\\Dto\\DashboardOrganizationRow\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Repository/OrganizationRepository.php
